* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul.menu {
    list-style-type: none;
    text-align: center;
}

nav ul.menu li {
    display: inline;
    margin: 0 20px;
}

nav ul.menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
}

nav ul.menu li a:hover {
    background-color: #ccc
}

#home {
    background-color: #f4f4f4;
}

#about {
    background-color: #e2e2e2;
}

#labs {
    background-color: #ccc;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
