* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa; /* Màu nền trang */
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul.menu {
    list-style-type: none;
    text-align: center;
}

nav ul.menu li {
    display: inline;
    margin: 0 20px;
}

nav ul.menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
}

nav ul.menu li a:hover {
    text-decoration: underline;
    background-color: #ccc;
    color: black;
}
nav ul.menu li a.active {
    background-color: #ccc; /* Màu sắc khi liên kết đang hoạt động */
    color: black;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.animated-content {
    animation: fadeIn 2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Tính từ chiều cao của header và footer */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}