* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    background: linear-gradient(to right, #00c6ff, #0072ff);

}

.container>div {
    margin: auto;
    border-radius: 10px 10px;

}

.login {
    height: 500px;
    width: 500px;
    background-color: #fff;
}

h3 {
    text-align: center;
    margin-bottom: 32px;
    margin-top: 32px;
    font-size: 32px;
}

.login>.user {
    display: flex;
    padding: 0 8px;
    margin-bottom: 16px;
}

.label {
    min-width: 100px;

}

.input {
    flex: 1;
    border-radius: 5px 5px;
    height: 30px;
}

.login > .submit-btn{
    text-align: center;
    margin-bottom: 8px;
    margin-top: 34px;
    display: flex;
    justify-content: space-around;
   
}
.submit-btn > a{
    text-decoration: none;
    border: 3px solid greenyellow;
    background-color: greenyellow;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    width: 200px;
}
.submit-btn > a:hover{
opacity: 0.8;
}

.login > .pass {
    text-align: center;
    margin-bottom: 32px;
}
.pass > a{
    font-size: 14px;
}

.login > .sign_up{
    text-align: center;
    margin-bottom: 16px;
}
.login > .sign_up > a{
    color: dodgerblue;
}

.login > .login-with{

    margin: 16px 0;
    display: flex;
    justify-content: space-around;
   

}

.login > .login-with > a{
    display: block;
    width: 300px;
    text-decoration: none;
    border: 5px solid;
    padding: 5px 10px;
    

}